.nav-colour{
    background-color: #A9907E;
    padding: 0.4rem;
    
}
/* body{
    background-color: #A9907E;
} */
.nav-padding{
    padding: 0;
}
#noodle-background{
    width: 100vw;
    opacity: 75%;
    position: absolute;
}
.page-main{
    position: relative;

}

.page-title{
    position: absolute;
    z-index: 1;
    
}

.card{
    margin: 1rem;
}

.border-0{
    box-shadow: 0 2px 7px 0;
}