
  @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');

.nav-colour{
    background-color: #a9907ea4;
    padding: 0.4rem;
    
}
/* body{
    background-color: ;
} */
.nav-padding{
    padding: 0;
}
#noodle-background{
    width: 100vw;
    opacity: 75%;
    position: absolute;
}
.page-main{
    position: relative;

}

.page-title{
    position: absolute;
    z-index: 1;
    
}

.card{
    margin: 1rem;
    background-color: #e7e4e148;
}

.border-0{
    /* box-shadow: 0 2px 7px 0; */
}
.list-group-item{
    background-color: #e7e4e148;;
}
.container-fluid{
    justify-content: center;
}
.main-img{
    width: 100vw;
    opacity: 60%;
    
}
.main-start{
    position: relative;
}
.noodle-text{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 50%;
    font-family: 'Alkatra', cursive;
    font-weight: 600;
}